
{% extends 'base.html' %}


{% block title %}
  Editar Empleado   
{% endblock title %}


{% block content %}
{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">
            Modificar Empleados
        </h1>
        <div class="cell">
            <form class="grid-x grid-margin-x" method="Post">{% csrf_token %}
                <div class="grid-x grid-padding-x">
                <div class="cell large-6">
                    <label>Nombres:
                        {{ form.first_name }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Apellidos:
                        {{ form.last_name }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Trabajo:
                        {{ form.job }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Area:
                        {{ form.derpartamento }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Habilidades Extra:
                        {{ form.habilidades }}
                    </label>
                </div>
                <div class="cell">
                    <button type="submit" class="success button">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
    