{% extends 'base.html' %}


{% block title %}
  Registrar Departamento  
{% endblock title %}
    
{% block content %}
{% include "includes/header.html" %}

<div class=" grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar Departamento</h1>
        <form class="cell callout grid-x gird-margin-x "method="POST">{% csrf_token %}
            <div class="medium-6 cell">
                <label>Nombre:
                  {{ form.nombre}}
                </label>
            </div> 
            <div class="medium-6 cell">
                <label>Apellidos:
                  {{ form.nombre}}
                </label>
            </div> 
            <div class="medium-6 cell">
                <label>Departamento:
                  {{ form.nombre}}
                </label>
            </div> 
            <div class="medium-6 cell">
                <label>Shorname:
                  {{ form.shorname}}
                </label>
            </div> 
            <div class="medium-12 cell">
                <button type="submit" class="button">Guardar</button>
            </div>  
        </form>
    </div>
</div>
{% endblock content %}


